<h1>Login</h1>
<form class="form-group myForm" action="./account/login" method="POST">
  <div>
    <label for="username">Username</label>
    <input class="form-control" autocomplete="off" type="username" id="username" name="username" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input class="form-control" type="password" id="password" name="password" required>
  </div>
  <button class="btn btn-primary margTop" type="submit">Login</button>
</form>
