<header id="theHeader">
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="./">Gitlab Dash</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <% if (isAuthenticated) { %>
        <li class="nav-item">
          <a class="nav-link" href="./user/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./user/activities">Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./user/group-projects">Group Projects</a>
        </li>
        <li class="nav-item">
          <form action="./account/logout" method="POST">
            <button class="nav-item myBtn" type="submit">Log out</button>
          </form>
        </li>
        <% } else { %>
        <a class="nav-link" href="./account/login"> Log in with Gitlab </a>
        <% } %>
      </ul>
    </div>
  </nav>
</header>
