<h1>Create snippet</h1>
<form class="row g-3" method="post" action="./snippets/create">
  <input class="col-md-12" type="text" name="title" id="snippetTitle" placeholder="Add a snippet title..." required >
  <textarea class="col-md-12" id="snippetInput" name="content"
    placeholder="Enter your new snippet here..." required="required" autofocus="autofocus" cols="60" rows="10"></textarea>
  <div class="col-md">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>