<h1>You sure you want to delete this snippet?</h1>
<form class="row g-3" method="post" action="./snippets/<%= viewData?.id %>/delete">
  <input type="hidden" name="id" value="<%= viewData?.id %>" />
  <b><%= viewData?.title %></b>
  <textarea class="col-md-12" id="snippetInput" name="content" disabled
    placeholder="Enter your snippet here..." required="required" autofocus="autofocus" cols="60" rows="10"><%= viewData?.content %></textarea>

  <div class="col-12">
    <button type="submit" class="btn btn-primary" autofocus="autofocus">Yes, delete</button>
  </div>
</form>