<h1>Update snippet</h1>
<form class="row g-3" method="post" action="./snippets/<%= viewData?.id %>/update">
  <input class="col-md-12" type="text" name="title" id="snippetTitle" value="<%= viewData?.title %>" placeholder="Snippet title..." required >
  <textarea class="col-md-12" id="snippetInput" name="content"
    placeholder="Enter your snippet here..." required="required" autofocus="autofocus" cols="60" rows="10"><%= viewData?.content %></textarea>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>