<h1>Profile</h1>
<div>
  <%= viewData?.title %>
  <h4>GitLAb ID</h4>
  <p>insert viewdata here</p>
  <h4>Email</h4>
  <p>insert viewdata here</p>
  <h4>Name</h4>
  <p>insert viewdata here</p>
  <h4>Username</h4>
  <p>insert viewdata here</p>

  <h4>AVATAR BILD --HÄÄÄR--</h4>
  <p>insert viewdata here</p>

  <h4>Last activity</h4>
  <p>insert viewdata here</p>
</div>
