<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
      Just Snippet It!
    </h1>
    <p>
      This is an application that let you view and create snippets.
    </p>
    <p>As an anonymous user you can only view already published snippets. If you create an account you can pulish your own snippets, update and delete them.</p>
</div>
